GROQ_API_KEY=
DEFAULT_LLM_PROVIDER=groq
PLANNER_LLM_PROVIDER=groq
CODING_LLM_PROVIDER=groq
REVIEW_LLM_PROVIDER=groq
IMPROVE_LLM_PROVIDER=groq
GROQ_MODEL=qwen/qwen3-32b
OLLAMA_MODEL=qwen2.5-coder:1.5b
